<!-- Este componente muestra el menu visible para un cliente logueado -->
<section class="ion-text-center ion-margin-bottom">
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngIf="(usuario?.estado == undefined || usuario?.estado == 'sinAtender')">
        <ion-card (click)="scanQr()"  class="ion-text-center ion-padding" color="000">
          <ion-icon name="list"></ion-icon>
          <h2 class="long-name">Ir a Lista de Espera</h2>
        </ion-card>
      </ion-col>
      <ion-col col-6 *ngIf="usuario?.estado == 'puedeTomarMesa'">
        <ion-card (click)="scanQRMesa()" class="ion-text-center ion-padding" color="000">
          <ion-icon name="list"></ion-icon>
          <h2 class="long-name">Escanear Mesa</h2>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6  *ngIf="(usuario?.estado == 'atendido' || usuario?.estado == 'mesaAsignada')">
         <ion-card routerLink="/pedido" class="ion-text-center ion-padding" color="000">
           <ion-icon name="timer"></ion-icon>          
           <h2 class="long-name">Realizar Pedido (local)</h2>
         </ion-card>
      </ion-col>
      <ion-col col-6  *ngIf="(usuario?.estado == 'atendido' || usuario?.estado == 'mesaAsignada')">
        <ion-card [routerLink]="['/consulta', 'cliente']" class="ion-text-center ion-padding" color="000">
          <ion-icon name="timer"></ion-icon>          
          <h2 class="long-name">Realizar Consulta</h2>
        </ion-card>
     </ion-col>
      <ion-col col-6 *ngIf="(usuario?.estado == 'atendido' || usuario?.estado == 'esperandoOrden' 
                             || usuario?.estado == 'mesaAsignada') ">
        <ion-card routerLink="/menu" class="ion-text-center ion-padding" color="000">
          <ion-icon name="list"></ion-icon>
          <h2 class="long-name">Ver Menu</h2>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 *ngIf="(usuario?.estado != 'pagando' && usuario?.estado != 'pendienteAprobacion')">
        <ion-card routerLink="/encuestas" class="ion-text-center ion-padding" color="000">
          <ion-icon name="clipboard"></ion-icon>          
          <h2 class="long-name">Ver Encuestas</h2>
        </ion-card>
      </ion-col>  
      <ion-col col-6 *ngIf="(usuario?.estado == 'sinAtender' || usuario?.estado == 'enEspera'
                            || usuario?.estado == 'finalizado')">
        <ion-card  routerLink="/reservar" class="ion-text-center ion-padding" color="000">
          <ion-icon name="bookmarks"></ion-icon>          
          <h2 class="long-name">Hacer Reserva</h2>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6  *ngIf="(usuario?.estado == 'sinAtender' || usuario?.estado == 'finalizado'
                           || usuario?.estado == 'tieneReserva')">
         <ion-card routerLink="/delivery" class="ion-text-center ion-padding" color="000">
          <ion-icon name="timer"></ion-icon>          
          <h2 class="long-name">Realizar Pedido (delivery)</h2>
        </ion-card>
      </ion-col>   
      <ion-col col-6  *ngIf="(usuario?.estado == 'atendido' || usuario?.estado == 'esperandoOrden'
                               || usuario?.estado == 'finalizado' || usuario?.estado == 'pagando') ">
          <ion-card routerLink="/hacer-encuesta-cliente" class="ion-text-center ion-padding" color="000">
            <ion-icon name="bookmarks"></ion-icon>          
            <h2 class="long-name">Realizar Encuesta</h2>
          </ion-card>
        </ion-col>
        <ion-col col-6 *ngIf="(usuario?.estado != 'pagando' && usuario?.estado != 'pendienteAprobacion')">
          <ion-card routerLink="/juego" class="ion-text-center ion-padding" color="000">
            <ion-icon name="timer"></ion-icon>          
            <h2 class="long-name">Jugar</h2>
          </ion-card>
        </ion-col>
      </ion-row>
  </ion-grid>
</section>