<section class="ion-text-center ion-margin-bottom">
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngIf="(usuario?.estado == undefined || usuario?.estado == 'aprobado')">
        <ion-card (click)="scanQr()"  class="ion-text-center ion-padding" color="000">
          <ion-icon name="list"></ion-icon>
          <h2 class="long-name">Ir a Lista de Espera</h2>
        </ion-card>
      </ion-col>
      <ion-col col-6 *ngIf="usuario?.estado == 'puedeTomarMesa' || usuario?.estado == 'esperandoOrden'
                            || usuario?.estado == 'atendido'">
        <ion-card (click)="scanQRMesa()" class="ion-text-center ion-padding" color="000">
          <ion-icon name="list"></ion-icon>
          <h2 class="long-name">Escanear Mesa</h2>
        </ion-card>
      </ion-col>

      <ion-col col-6  *ngIf="usuario?.pedido != undefined 
                        && usuario?.estado == 'atendido' && usuario.pedido.estado == 'aceptado por cliente'">
        <ion-card (click)="pedirCuenta()" class="ion-text-center ion-padding" color="000">
         <ion-icon name="timer"></ion-icon>          
         <h2 class="long-name">Pedir la cuenta</h2>
       </ion-card>
     </ion-col>   
    </ion-row>

    <ion-row>
      <ion-col col-6  *ngIf="(usuario?.estado == 'atendido' || usuario?.estado == 'mesaAsignada')">
         <ion-card [routerLink]="['/pedido', usuario.id]" class="ion-text-center ion-padding" color="000">
           <ion-icon name="timer"></ion-icon>          
           <h2 class="long-name">Realizar Pedido (local)</h2>
         </ion-card>
      </ion-col>
      <ion-col col-6  *ngIf="(usuario?.estado == 'atendido' || usuario?.estado == 'mesaAsignada' 
                        || usuario?.estado == 'esperandoOrden')">
        <ion-card [routerLink]="['/consulta', usuario.perfil, usuario.id]" class="ion-text-center ion-padding" color="000">
          <ion-icon name="help-circle-outline"></ion-icon>         
          <h2 class="long-name">Consulta al mozo</h2>
        </ion-card>
     </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-3 *ngIf="(usuario?.estado != 'pagando')">
        <ion-card [routerLink]="['/encuesta', usuario.id]" class="ion-text-center ion-padding" color="000">
          <ion-icon name="clipboard"></ion-icon>          
          <h2 class="long-name">Realizar Encuesta</h2>
        </ion-card>
      </ion-col>  
      <ion-col col-3 *ngIf="usuario?.estado == 'aprobado' || usuario?.estado == 'puedeTomarMesa' ">
        <ion-card [routerLink]="['/carta-comanda', usuario.id]" class="ion-text-center ion-padding" color="000">
          <ion-icon name="clipboard"></ion-icon>          
          <h2 class="long-name">Carta</h2>
        </ion-card>
      </ion-col> 
      <ion-col col-3 *ngIf="usuario?.pedido != undefined && usuario?.pedido.estado == 'entregado'">
        <ion-card (click)="confirmarRecepcion()"class="ion-text-center ion-padding" color="000">
          <ion-icon name="checkbox-outline"></ion-icon>          
          <h2 class="long-name">Confirmar recepción pedido</h2>
        </ion-card>
      </ion-col>

      
      <ion-col col-3 *ngIf="(usuario?.perfil == 'cliente') && (usuario?.estado == 'finalizado' || usuario?.estado == 'aprobado')">
        <ion-card  [routerLink]="['/reserva', usuario.id]" class="ion-text-center ion-padding" color="000">
          <ion-icon name="bookmarks"></ion-icon>          
          <h2 class="long-name">Hacer Reserva</h2>
        </ion-card>
      </ion-col>

      <ion-col col-3 *ngIf="(usuario?.perfil == 'cliente') && (usuario?.reserva != undefined) 
                        && (usuario?.estado == 'finalizado' || usuario?.estado == 'aprobado' || usuario?.estado == 'puedeTomarMesa')">
        <ion-card  (click)="consultarReserva()" class="ion-text-center ion-padding" color="000">
          <ion-icon name="bookmarks"></ion-icon>          
          <h2 class="long-name">Consultar Reserva</h2>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6  *ngIf="(usuario?.perfil == 'cliente delivery')">
         <ion-card routerLink="/delivery" class="ion-text-center ion-padding" color="000">
          <ion-icon name="timer"></ion-icon>          
          <h2 class="long-name">Realizar Pedido (delivery)</h2>
        </ion-card>
      </ion-col>   
        <ion-col col-6 *ngIf="usuario?.estado != 'pagando'">
          <ion-card routerLink="/juego" class="ion-text-center ion-padding" color="000">
            <ion-icon name="timer"></ion-icon>          
            <h2 class="long-name">Jugar</h2>
          </ion-card>
        </ion-col>
      </ion-row>

  </ion-grid>
</section>