
section {
    margin-top: 2vh;
}

ion-icon {
    font-size: 4em;
}

ion-card {
    height: 140px;
    background-color: #e8af37;
    color: black;
}
.ion-color.sc-ion-card-md-h{
    background-color: #e8af37
}
h2 {
    margin: 0;
}

.long-name {
    font-size: 1.2em
}

