<section class="ion-text-center ion-margin-bottom">
  <ion-grid>
    <ion-row >
      <ion-col col-4 >
        <ion-card routerLink="/pedidos" class="ion-text-center ion-padding" color="000">
          <ion-icon name="clipboard"></ion-icon>
          <h2 class="long-name">Pedidos</h2>
        </ion-card>
      </ion-col>
      
      <ion-col col-4 >
        <ion-card routerLink="/registro/producto" class="ion-text-center ion-padding" color="000">
          <ion-icon name="restaurant"></ion-icon>
          <h2 class="long-name">Alta Productos</h2>
        </ion-card>
      </ion-col>
    </ion-row>

    
  </ion-grid>
</section>
