<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro de {{object}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-usuario-form *ngIf="(object == 'cliente' || object == 'usuario' )" [perfilEmpleado]="perfilEmpleado" [esCliente]="object == 'cliente'"></app-usuario-form>
  <app-mesa-form *ngIf="object == 'mesa'"></app-mesa-form>
  <app-producto-form *ngIf="object == 'producto'"></app-producto-form> 
  <app-anonimo-form *ngIf="object == 'clienteAnonimo'"></app-anonimo-form>
</ion-content>
