form{
    padding: 40px; 
}
main{
   background-color: aquamarine
}

.item-cliente {
    display:flex;
    flex-direction: column;
}

.form-cliente{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh;

}

.input-cliente {
    font-style: italic!important;
}
