<ion-header>
  <ion-toolbar color="titulo">
      <ion-button slot="end" fill="clear" (click)="logout()"> 
          <ion-icon name="md-exit"></ion-icon>
      </ion-button>
    <ion-title>Corona Dely</ion-title>  
  </ion-toolbar>
</ion-header>

<ion-content class="home-background">
  <div class="home-background">
   <!-- Agregar una imagen -->
    <app-cliente-home [usuario]="usuario" *ngIf="usuario!=undefined && usuario?.perfil == 'cliente' || usuario?.perfil == 'cliente anonimo'"></app-cliente-home>
    <app-supervisor-home [usuario]="usuario"  *ngIf=" usuario!=undefined &&  usuario?.perfil == 'supervisor' || usuario?.perfil == 'dueño'"></app-supervisor-home>
    <app-empleados-home [usuario]="usuario"  *ngIf="usuario!=undefined &&  usuario?.perfil == 'cocinero' || usuario?.perfil == 'bartender' || usuario?.perfil == 'metre' || usuario?.perfil == 'mozo' " ></app-empleados-home>
  </div>
</ion-content>
