ion-content {
    ion-icon {
        font-size: 4em;
    }

    ion-card {
        height: 140px;
    }

    h2 {
        margin: 0;
    }
}

app-cliente-home {
    height: 100%;
}

.long-name {
    font-size: 1.2em
}

.brand-icon {
    display      : block;
    margin-left  : 29%;
    margin-right : 20%;
    width        : 50%;
    margin-top   : 18%;
    margin-bottom: 2%;
}

.home-background {
    width        : 100%;
    height       : 100%;
    position        : absolute; 
    background      : rgba(168, 224, 231, 0.9);
    padding: 5vh 0 5vh 0;
  
}