form{
    padding: 40px; 
}
main{
   background-color: aquamarine
}

.item-mesa {
    display:flex;
    flex-direction: column;
}

.form-mesa{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 5vh 5vw 5vh 5vw;

}

.input-mesa {
    font-style: italic!important;
}

#foto-mesa{
    width: 150px;
    height: auto;
}
