<div id="custom-overlay" [style.display]=" splash ? 'block' : 'none' ">
  <div class="logoPresentacion">
      <img id="imgScreen" src="assets/icon/delyOriginal.svg" style="width: 70%;height: 60%;top:70px">
  </div>  
  <div class="contenedorPresentacion"> <p>CoronaDely</p>       
  </div>
</div>

<ion-content>
  <div class="login-wrap">
    <div class="login-html">
      <span class="tab">Iniciar Sesión</span>
      <form class="form" [formGroup]="form" (ngSubmit)="onSubmitLogin(form.value)">
        <div class="group">
          <ion-label for="usuario" class="label" position="floating">Correo electrónico</ion-label>
          <input type="text" class="input" formControlName="email" required>
        </div>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message"
              *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <div class="group">
          <ion-label for="pass" class="label" position="floating">Contraseña</ion-label>
          <input type="password" class="input" formControlName="password" data-type="password" required>
        </div>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message"
              *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <br>
        <div class="group">
          <ion-button shape="round" type="submit" [disabled]="!form.valid">Ingresar</ion-button>
          
          <!-- Falta probar el inicio con google y facebook -->
          <!-- <ion-row>
            <ion-col col-2></ion-col>
            <ion-col col-2></ion-col>
            <ion-col col-2 style="align-self: flex-end;">
              <ion-fab-button size="small" color="danger" (click)="googleLogin()">
                <ion-icon name="logo-google"></ion-icon>
              </ion-fab-button>
            </ion-col>

            <ion-col col-2>
              <ion-fab-button size="small" style="--background:#3b5998" (click)="facebookLogin()">
                <ion-icon name="logo-facebook"></ion-icon>
              </ion-fab-button>
            </ion-col>
            <ion-col col-2></ion-col>
            <ion-col col-2></ion-col>
          </ion-row> -->

        </div>
      </form>
      <div class="hr"></div>
      <div class="group">
        <ion-button shape="round" routerLink="/registro/clienteAnonimo">Cliente Anónimo</ion-button>
        <ion-button shape="round" routerLink="/registro/cliente">Registrarse</ion-button>
      </div>
      <ion-item id="defaultUsers">
        <ion-label>Usuarios predefinidos</ion-label>
        <ion-select okText="Aceptar" cancelText="Cancelar" [(ngModel)]="usuario" (ionChange)="setDefaultUser()">
          <ion-select-option *ngFor="let usuario of defaultUsers" [value]="usuario">{{usuario.email}}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>

</ion-content>