<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Consulta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-cliente-consulta [usuario]="usuarioActual" *ngIf="(tipoUsuario == 'cliente' || tipoUsuario == 'cliente anonimo') && usuarioActual != undefined"></app-cliente-consulta>
  <app-mozo-consulta [usuario]="usuarioActual" *ngIf="tipoUsuario == 'mozo' && usuarioActual != undefined"></app-mozo-consulta>
</ion-content>
