<section class="ion-text-center ion-margin-bottom">
  <ion-grid>
    <ion-row>
      <ion-col col-4 >
        <ion-card routerLink="/registro/usuario"  class="ion-text-center ion-padding">
          <ion-icon name="contact"></ion-icon>
          <h2 class="long-name">Registrar Empleado</h2>
        </ion-card>
      </ion-col>

      <ion-col col-4 >
        <ion-card [routerLink]="['/listas', 'usuarios']" class="ion-text-center ion-padding" color="000">
          <ion-icon name="man"></ion-icon>
          <h2 class="long-name">Lista Empleados</h2>
        </ion-card>
      </ion-col>  
    </ion-row>
    
    <ion-row >
      
      <ion-col col-4 >
        <ion-card [routerLink]="['/listas', 'reservas']" class="ion-text-center ion-padding" >
          <ion-icon name="restaurant"></ion-icon>
          <h2 class="long-name">Confirmar Reserva</h2>
        </ion-card>
      </ion-col>
      <ion-col col-4>
        <ion-card [routerLink]="['/listas', 'confirmacion']" class="ion-text-center ion-padding" color="000">
          <ion-icon name="man"></ion-icon>
          <h2 class="long-name">Clientes Pendientes de Aprobación</h2>
        </ion-card>
      </ion-col>  
      
      
    </ion-row>

    <ion-row >
      <ion-col col-4 >
        <ion-card routerLink="/registro/mesa" class="ion-text-center ion-padding" color="000">
          <ion-icon name="bookmarks"></ion-icon>
          <h2 class="long-name">Registrar Mesa</h2>
        </ion-card>
      </ion-col> 

      <ion-col col-4>
        <ion-card [routerLink]="['/encuesta', 'empleado']" class="ion-text-center ion-padding" color="000">
          <ion-icon name="time"></ion-icon>
          <h2 class="long-name">Terminar Jornada Laboral</h2>
        </ion-card>
      </ion-col>  
      
    </ion-row>
    
  </ion-grid>
</section>