<ion-button color="scanner" (click)="scannearQR()">Escanear QR</ion-button>
<form class="form">
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item class="group">
      <ion-label for="user" class="label" position="floating">Nombre</ion-label>
      <ion-input type="text" class="input" [(ngModel)]="producto.nombre" name="nombre" required></ion-input>
    </ion-item>
    <ion-item class="group">
      <ion-label for="pass" class="label" position="floating">Descripción</ion-label>
      <ion-input type="text" class="input" [(ngModel)]="producto.descripcion" name="descripcion" required></ion-input>
    </ion-item>
    <ion-item class="group">
      <ion-label for="tiempo" class="label" position="floating">Tiempo de Elaboración</ion-label>
      <ion-input type="number" class="input" [(ngModel)]="producto.tiempoPreparacion" name="tiempoPreparacion" required>
      </ion-input>
    </ion-item>
    <ion-item class="group">
      <ion-label for="precio" class="label" position="floating">Precio</ion-label>
      <ion-input type="number" class="input" [(ngModel)]="producto.precio" name="precio" required></ion-input>
    </ion-item>

    <ion-item class="group">
      <ion-label for="sector" *ngIf="perfilEmpleado != undefined"  class="label" position="floating">Sector</ion-label>
      <br>
      <ion-select placeholder="Seleccione un sector" [(ngModel)]="producto.sector" name="sector">
        <ion-select-option *ngIf="perfilEmpleado =='cocinero'" value="cocinero">Cocina</ion-select-option>
        <ion-select-option *ngIf="perfilEmpleado =='bartender'" value="bartender">Barra</ion-select-option>
      </ion-select>
    </ion-item>
    <br>

    <ion-item class="group">
      <ion-label for="tipo" *ngIf="producto.sector != undefined"  class="label" position="floating">Tipo</ion-label>
      <br>
      <ion-select  placeholder="Seleccione un tipo" [(ngModel)]="producto.tipo" name="tipo">
        <ion-select-option *ngIf="producto.sector=='cocinero'" value="postre">Postre</ion-select-option>
        <ion-select-option *ngIf="producto.sector=='cocinero'" value="comida">Comida</ion-select-option>
        <ion-select-option *ngIf="producto.sector=='bartender'" value="bebida">Bebida</ion-select-option>
      </ion-select>
    </ion-item>


  </ion-list>
  <br>
  <ion-button color="success" (click)="tomarFoto()" [disabled]="producto.nombre == undefined || producto.nombre == ''">Tomar
    Foto</ion-button>

  <ion-button color="success" (click)="registro()" *ngIf="!esModificacion">Registrar</ion-button>
  <ion-button color="success" (click)="registro()" *ngIf="esModificacion">Modificar</ion-button>

  <br>

  <ion-grid *ngIf="imagenes.length > 0">
    <ion-row *ngFor="let imagen of imagenes">
      <ion-col>
        <ion-card class="card">
          <ion-card-content>
            <ion-fab vertical="top" horizontal="end">
              <ion-fab-button class="delete-btn" size="small" color="danger" (click)="eliminarFoto(imagen.nombre)">
                <ion-icon name="trash"></ion-icon>
              </ion-fab-button>
            </ion-fab>
            <img src="{{imagen.url}}">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</form>