<div id="contenedor">
    <form>
      <ion-label>
        Nivel de limpieza:
       </ion-label>
      <ion-item id="range">
       
        <ion-range [(ngModel)]="limpieza" name="limpieza" min="0" max="10" color="secondary">
          <ion-label slot="start">0</ion-label>
          <ion-label slot="end">10</ion-label>
        </ion-range>
        <ion-label id="lbl-limpieza">{{limpieza}}</ion-label>
      </ion-item>
  
      <ion-label>Predisposición del mozo:</ion-label>
      <ion-item>
        
        <ion-select [(ngModel)]="predisposicion" name="predisposicion" placeholder="Opciones">
          <ion-select-option value="Excelente">Excelente</ion-select-option>
          <ion-select-option value="Buena">Buena</ion-select-option>
          <ion-select-option value="Regular">Regular</ion-select-option>
          <ion-select-option value="Mala">Mala</ion-select-option>
        </ion-select>
      </ion-item>
    
      <ion-list>
        <ion-radio-group [(ngModel)]="orden" name="orden">
          <ion-list-header>
            <ion-label>
             ¿La comida estaba rica?
            </ion-label>
          </ion-list-header>
    
          <ion-item>
            <ion-label>Sí</ion-label>
            <ion-radio value="Sí"></ion-radio>
          </ion-item>
    
          <ion-item>
            <ion-label>No</ion-label>
            <ion-radio value="No"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    
      <ion-item>
        <ion-label>¿Lo atendieron rápido?</ion-label>
        <ion-checkbox [(ngModel)]="elementosDisponibles" name="elementosDisponibles" color="danger">Sí</ion-checkbox>
      </ion-item>
      
      <ion-item>
        <ion-label  position="floating">Comentarios adicionales:</ion-label>
        <ion-textarea [(ngModel)]="comentariosAdicionales" name="comentariosAdicionales"></ion-textarea>
      </ion-item>
    
      <ion-button color="success" size="small" (click)="guardarEncuesta()">Enviar Encuesta</ion-button>
    </form>  
  </div>
  