#div-filtro-estados {
    display:flex;
    flex-direction: column;
    // margin-top: 1vh;
    padding: 0 2vw 0 2vw;
}

#div-filtro-estados ion-label {
    margin-bottom: 2vh;
}

ion-item-option {
    background-color: red;
}

