<section class="ion-text-center ion-margin-bottom">
  <ion-grid>
    <ion-row >
      <ion-col col-4 *ngIf="usuario?.perfil == 'cocinero'">
        <ion-card routerLink="/pedidos" class="ion-text-center ion-padding" color="000">
          <ion-icon name="clipboard"></ion-icon>
          <h2 class="long-name">Pedidos</h2>
        </ion-card>
      </ion-col>
      
      <ion-col col-4 *ngIf="usuario?.perfil == 'cocinero' || usuario?.perfil== 'bartender'">
        <ion-card routerLink="/registro/producto" class="ion-text-center ion-padding" color="000">
          <ion-icon name="restaurant"></ion-icon>
          <h2 class="long-name">Alta Productos</h2>
        </ion-card>
      </ion-col>

      
      <ion-col col-4 *ngIf="usuario?.perfil == 'metre'">
        <ion-card [routerLink]="['/listas', 'listaEsperaMetre']" class="ion-text-center ion-padding" color="000">
          <ion-icon name="man"></ion-icon>
          <h2 class="long-name">Clientes en Lista de Espera</h2>
        </ion-card>
      </ion-col> 
    </ion-row>

    <ion-row>
      <ion-col col-4 *ngIf="usuario?.perfil == 'metre'">
        <ion-card routerLink="/registro/mesa"  class="ion-text-center ion-padding" color="000">
          <ion-icon name="book"></ion-icon>
          <h2 class="long-name">Alta Mesa</h2>
        </ion-card>
      </ion-col>
  
      <ion-col col-4 *ngIf="usuario?.perfil == 'mozo'">
        <ion-card routerLink="/registro/mesa"  class="ion-text-center ion-padding" color="000">
          <ion-icon name="book"></ion-icon>
          <h2 class="long-name">Alta Mesa</h2>
        </ion-card>
  
        <ion-card routerLink="/pedidos" class="ion-text-center ion-padding" color="000">
          <ion-icon name="clipboard"></ion-icon>
          <h2 class="long-name">Pedidos</h2>
        </ion-card>
      </ion-col>    
    </ion-row>
    
  </ion-grid>
</section>
